
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 10px solid #7f7f7f
}

.item{
    padding: 10px;
    color: white;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    font: 900 60px "Roboto", sans-serif;
}

.item1{
    background-color: aquamarine;
}

.item2{
    background-color: blue;
}

.item3{
    background-color: greenyellow;
}

.item4{
    background-color: yellow;
}

.item5{
    background-color: orange;
}


.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    
}

.item3{
    flex: 5;
}

.main{
    display: flex;
    flex: 1;
}

.aside{
    display: flex;
    flex: 1;   
}

.horisontal{
    display: flex;
    flex: 1;
    flex-direction: column;   
}