
*{ 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}




.item{
    padding: 10px;
    color: white;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    font: 900 60px "Roboto", sans-serif;
}
/*
.item1{
    background-color: aquamarine;
}

.item2{
    background-color: blue;
}

.item5{
    background-color: orange;
}

.item6{
    background-color: tomato;
}

.item3{
    background-color: greenyellow;
}



.item4{
    background-color: yellow;
}


*/


.container{
    display: grid;
    grid-template-columns: minmax(350px, auto) 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header header header"
                         "aside-left filter filter"
                         "aside-left main main"
                         "aside-left footer footer"
    
}


.filter{
    grid-area: filter;
    padding: 0 20px 0 20px;
}

.main{
    display: grid;
    grid-area: main;
    padding-right: 20px;
}

.footer{
    grid-area: footer;
}